.schedule {
    display: grid;
    grid-template-rows:
        [rooms] auto
        [time-1000] 8px
        [time-1005] 8px
        [time-1010] 8px
        [time-1015] 8px
        [time-1020] 8px
        [time-1025] 8px
        [time-1030] 8px
        [time-1035] 8px
        [time-1040] 8px
        [time-1045] 8px
        [time-1050] 8px
        [time-1055] 8px
        [time-1100] 8px
        [time-1105] 8px
        [time-1110] 8px
        [time-1115] 8px
        [time-1120] 8px
        [time-1125] 8px
        [time-1130] 8px
        [time-1135] 8px
        [time-1140] 8px
        [time-1145] 8px
        [time-1150] 8px
        [time-1155] 8px
        [time-1200] 8px
        [time-1205] 8px
        [time-1210] 8px
        [time-1215] 8px
        [time-1220] 8px
        [time-1225] 8px
        [time-1230] 8px
        [time-1235] 8px
        [time-1240] 8px
        [time-1245] 8px
        [time-1250] 8px
        [time-1255] 8px
        [time-1300] 8px
        [time-1305] 8px
        [time-1310] 8px
        [time-1315] 8px
        [time-1320] 8px
        [time-1325] 8px
        [time-1330] 8px
        [time-1335] 8px
        [time-1340] 8px
        [time-1345] 8px
        [time-1350] 8px
        [time-1355] 8px
        [time-1400] 8px
        [time-1405] 8px
        [time-1410] 8px
        [time-1415] 8px
        [time-1420] 8px
        [time-1425] 8px
        [time-1430] 8px
        [time-1435] 8px
        [time-1440] 8px
        [time-1445] 8px
        [time-1450] 8px
        [time-1455] 8px
        [time-1500] 8px
        [time-1505] 8px
        [time-1510] 8px
        [time-1515] 8px
        [time-1520] 8px
        [time-1525] 8px
        [time-1530] 8px
        [time-1535] 8px
        [time-1540] 8px
        [time-1545] 8px
        [time-1550] 8px
        [time-1555] 8px
        [time-1600] 8px
        [time-1605] 8px
        [time-1610] 8px
        [time-1615] 8px
        [time-1620] 8px
        [time-1625] 8px
        [time-1630] 8px
        [time-1635] 8px
        [time-1640] 8px
        [time-1645] 8px
        [time-1650] 8px
        [time-1655] 8px
        [time-1700] 8px
        [time-1705] 8px
        [time-1710] 8px
        [time-1715] 8px
        [time-1720] 8px
        [time-1725] 8px
        [time-1730] 8px
        [time-1735] 8px
        [time-1740] 8px
        [time-1745] 8px
        [time-1750] 8px
        [time-1755] 8px
        [time-1800] 8px
        [time-1805] 8px
        [time-1810] 8px
        [time-1815] 8px
        [time-1820] 8px
        [time-1825] 8px
        [time-1830] 8px
        [time-1835] 8px
        [time-1840] 8px
        [time-1845] 8px
        [time-1850] 8px
        [time-1855] 8px
        [time-1900] 8px
        [time-1905] 8px
        [time-1910] 8px
        [time-1915] 8px
        [time-1920] 8px
        [time-1925] 8px
        [time-1930] 8px
        [time-1935] 8px
        [time-1940] 8px
        [time-1945] 8px
        [time-1950] 8px
        [time-1955] 8px
        [time-2000] 8px
        [time-2005] 8px
        [time-2010] 8px
        [time-2015] 8px
        [time-2020] 8px
        [time-2025] 8px
        [time-2030] 8px
        [time-2035] 8px
        [time-2040] 8px
        [time-2045] 8px
        [time-2050] 8px
        [time-2055] 8px
        [time-2100] 8px
        [time-2105] 8px
        [time-2110] 8px
        [time-2115] 8px
        [time-2120] 8px
        [time-2125] 8px
        [time-2130] 8px
        [time-2135] 8px
        [time-2140] 8px
        [time-2145] 8px
        [time-2150] 8px
        [time-2155] 8px
        [time-2200] 8px
        [time-2205] 8px
        [time-2210] 8px
        [time-2215] 8px
        [time-2220] 8px
        [time-2225] 8px
        [time-2230] 8px
        [time-2235] 8px
        [time-2240] 8px
        [time-2245] 8px
        [time-2250] 8px
        [time-2255] 8px
        [time-2300] 8px
        [time-2305] 8px
        [time-2310] 8px
        [time-2315] 8px
        [time-2320] 8px
        [time-2325] 8px
        [time-2330] 8px
        [time-2335] 8px
        [time-2340] 8px
        [time-2345] 8px
        [time-2350] 8px
        [time-2355] 8px
        [time-0000] 8px
        ;
    grid-template-columns:
        [time] 8rem
        [room-main-events] 1fr
        [room-community-stage] 1fr
        [room-grammy-museum-terrace] 1fr
        [room-petree-hall] 1fr
        [room-the-novo] 1fr
        [room-jw-diamond] 1fr
        [room-jw-platinum] 1fr
        [room-402-AB] 1fr
        [room-403-AB] 1fr
        [room-404-AB] 1fr
        [room-406-AB] 1fr
        [room-408-AB] 1fr
        [room-409-AB] 1fr
        [room-411] 1fr
        [room-511] 1fr
        [room-515-A] 1fr
        [room-515-B] 1fr
        ;
}
