<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Day {{ day }} - AX 2023</title>
    </head>
    <body>
        <h1>Anime Expo Schedule Table 2023</h1>
        <section>
            <h2>Day {{ day }}</h2>
            <nav>
                <a href="day1.html">Day 1</a>
                <a href="day2.html">Day 2</a>
                <a href="day3.html">Day 3</a>
                <a href="day4.html">Day 4</a>
            </nav>
        </section>
        <section class="schedule">
            <div style="grid-column: time">Time</div>
            <div style="grid-column: room-main-events">Main Events</div>
            <div style="grid-column: room-petree-hall">Petree Hall</div>
            <div style="grid-column: room-community-stage">Community Stage</div>
            <div style="grid-column: room-jw-diamond">JW Diamond</div>
            <div style="grid-column: room-jw-platinum">JW Platinum</div>
            <div style="grid-column: room-the-novo">The Novo</div>
            <div style="grid-column: room-grammy-museum-terrace">Grammy Museum Terrace</div>
            <div style="grid-column: room-402-AB">402 AB</div>
            <div style="grid-column: room-403-AB">403 AB</div>
            <div style="grid-column: room-404-AB">404 AB</div>
            <div style="grid-column: room-406-AB">406 AB</div>
            <div style="grid-column: room-408-AB">408 AB</div>
            <div style="grid-column: room-409-AB">409 AB</div>
            <div style="grid-column: room-411">411</div>
            <div style="grid-column: room-511">511</div>
            <div style="grid-column: room-515-A">515 A</div>
            <div style="grid-column: room-515-B">515 B</div>
            <div style="grid-row: time-1000 / time-1030; grid-column: time">10:00 AM</div>
            <div style="grid-row: time-1030 / time-1100; grid-column: time">10:30 AM</div>
            <div style="grid-row: time-1100 / time-1130; grid-column: time">11:00 AM</div>
            <div style="grid-row: time-1130 / time-1200; grid-column: time">11:30 AM</div>
            <div style="grid-row: time-1200 / time-1230; grid-column: time">12:00 PM</div>
            <div style="grid-row: time-1230 / time-1300; grid-column: time">12:30 PM</div>
            <div style="grid-row: time-1300 / time-1330; grid-column: time">1:00 PM</div>
            <div style="grid-row: time-1330 / time-1400; grid-column: time">1:30 PM</div>
            <div style="grid-row: time-1400 / time-1430; grid-column: time">2:00 PM</div>
            <div style="grid-row: time-1430 / time-1500; grid-column: time">2:30 PM</div>
            <div style="grid-row: time-1500 / time-1530; grid-column: time">3:00 PM</div>
            <div style="grid-row: time-1530 / time-1600; grid-column: time">3:30 PM</div>
            <div style="grid-row: time-1600 / time-1630; grid-column: time">4:00 PM</div>
            <div style="grid-row: time-1630 / time-1700; grid-column: time">4:30 PM</div>
            <div style="grid-row: time-1700 / time-1730; grid-column: time">5:00 PM</div>
            <div style="grid-row: time-1730 / time-1800; grid-column: time">5:30 PM</div>
            <div style="grid-row: time-1800 / time-1830; grid-column: time">6:00 PM</div>
            <div style="grid-row: time-1830 / time-1900; grid-column: time">6:30 PM</div>
            <div style="grid-row: time-1900 / time-1930; grid-column: time">7:00 PM</div>
            <div style="grid-row: time-1930 / time-2000; grid-column: time">7:30 PM</div>
            <div style="grid-row: time-2000 / time-2030; grid-column: time">8:00 PM</div>
            <div style="grid-row: time-2030 / time-2100; grid-column: time">8:30 PM</div>
            <div style="grid-row: time-2100 / time-2130; grid-column: time">9:00 PM</div>
            <div style="grid-row: time-2130 / time-2200; grid-column: time">9:30 PM</div>
            <div style="grid-row: time-2200 / time-2230; grid-column: time">10:00 PM</div>
            <div style="grid-row: time-2230 / time-2300; grid-column: time">10:30 PM</div>
            <div style="grid-row: time-2300 / time-2330; grid-column: time">11:00 PM</div>
            <div style="grid-row: time-2330 / time-0000; grid-column: time">11:30 PM</div>
            <div style="grid-row: time-0000 / time-0000; grid-column: time">12:00 AM</div>
            {% for event in events %}
                <div class="event cleared-{{ event.get('cleared') }}"
                     style="grid-row: time-{{ event.get('start_time') }} / time-{{ event.get('end_time') }};
                            grid-column: room-{{ event.get('room') }}">
                    <p class="time">
                        {{ event.get('start') }} - {{ event.get('end') }}
                    </p>
                    <p class="title">
                        {{ event.get('title') }}
                    </p>
                    <p class="cleared">
                        {% if event.get('cleared') == 'Y' %}
                        Cleared
                        {% elif event.get('cleared') == 'N' %}
                        Not Cleared
                        {% else %}
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </section>
    </body>
</html>
